/* src/styles/ApiTestsRow.css */

.apitestsrow-container {
    width: 100%;
    overflow-x: auto;
    margin-top: 1rem;
    padding: 0 1rem;
    border: 2px solid #ccc;
    border-radius: 5px;
  }
  
  .apitestsrow-grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
  }
  
  .header {
    background-color: #e2e8f0;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    color: #3b82f6;
  }
  
  .row {
    background-color: #fff;
  }
  
  .cell {
    padding: 0.75rem;
    box-sizing: border-box;
    border: 1px solid #ccc;
    text-align: left;
  }
  
  /* Eliminar borde derecho de la última columna y borde inferior de la última fila */
  .apitestsrow-container > .apitestsrow-grid > :nth-child(9n) {
    border-right: none;
  }
  
  .apitestsrow-container > .apitestsrow-grid > :nth-last-child(-n+9) {
    border-bottom: none;
  }
  