/* src/styles/BugReportRow.css */

.bugreport-row-container {
    width: 100%;
    overflow-x: auto;
    margin-top: 1rem;
    padding: 0 1rem;
  }
  
  .bugreport-row-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .bugreport-row-caption {
    caption-side: top;
    background-color: #d1d5db;
    color: #3b82f6;
    font-weight: bold;
    text-align: center;
    padding: 0.75rem 1rem;
    font-size: 2rem;
    text-transform: uppercase;
    border-bottom: 2px solid #ccc;
  }
  
  .bugreport-row-table th,
  .bugreport-row-table td {
    padding: 0.75rem;
    border: 1px solid #ccc;
    text-align: left;
  }
  
  .bugreport-row-table th {
    background-color: #e2e8f0;
    color: #3b82f6;
    font-weight: bold;
  }
  
  .bugreport-row-table td {
    background-color: #fff;
  }
  