/* src/styles/Projects.css */

/* Sección de Proyectos */
.projects {
  width: 100%;
  background-color: #f9fafb;
}

/* Contenedor que agrupa todos los proyectos */
.projects-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
  margin-top: 1rem;
}

/* Ajustes para móviles */
@media screen and (max-width: 850px) {
  .projects h2 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 480px) {
  .projects-container {
    gap: 2rem;
  }
  
  .projects h2 {
    font-size: 2rem;
  }
}